header {
  text-align: left;
  border-bottom: 2px solid #333; /* Add border to the bottom */
  padding-bottom: 10px; /* Add padding to create space between border and content */
}
header h1 {
  margin-bottom: -42px; /* Remove negative margin to align with the border */
  margin-left: 20px;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin-left: -700px;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 10px; /* Adjust as needed */
  font-size: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #333; /* Adjust color as needed */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: #f4f4f4; /* Adjust background color as needed */
  padding: 20px 0; /* Adjust padding as needed */
}

footer p {
  margin: 0;
  font-size: 14px; /* Adjust font size as needed */
}

.student{
  border:1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.student .student-image{
       max-width: 60%;
       height: auto;
       border-radius: 50%;
       margin-bottom: 10px;
}

.student .student-name{
       font-family: Arial, sans-serif;
       margin: 0;
       color: hsl(0, 0%, 20%)  
}

.student .student-text{
       font-family: Arial, sans-serif;
       color: hsl(0, 0%, 30%);
}


